.nav-list {
    background: $white-color;

    .nav {
        li {
            > a {
                text-align: left;
            }

            &.active > a,
            &.active > a i{
                border-radius: 3px;
                color: $white-color;
            }
        }
    }


    &[data-background-color="black"]{
        background-color: #191919;
    }

    &[data-background-color="black"]{
        @include sidebar-background-color($gray-base, $white-color);

        .nav li .dropdown-menu .dropdown-item{
          color: $white-color;
        }
    }

    &[data-color="purple"]{
        @include set-background-color-button($brand-primary);
    }
    &[data-color="azure"]{
        @include set-background-color-button($brand-info);
    }
    &[data-color="green"]{
        @include set-background-color-button($brand-success);
    }
    &[data-color="orange"]{
        @include set-background-color-button($brand-warning);
    }
    &[data-color="danger"]{
        @include set-background-color-button($brand-danger);
    }
    &[data-color="rose"]{
        @include set-background-color-button($brand-rose);
    }

    &[data-color="white"]{
        @include set-background-color-button($white-color);
        @include sidebar-active-color($black-color);
    }

    &[data-background-color="red"]{
        @include sidebar-background-color($brand-danger, $white-color);

        .user,
        .logo,
        .nav li.separator{
            &:after{
                background-color: rgba(255,255,255, .3);
            }
        }

        .nav{
            li:hover:not(.active) > a,
            li.active > [data-toggle="collapse"]{
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}
