certifi==2019.6.16
chardet==3.0.4
docutils==0.15.2
idna==2.8
lockfile==0.12.2
luigi[toml]==2.8.9
python-daemon==2.1.2
python-dateutil==2.8.0
requests==2.22.0
requests-unixsocket==0.2.0
six==1.12.0
tornado==4.5.3
urllib3==1.25.3
